body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    .contenedor-footer {
        background: url(../img/texturas/escheresque_ste.png);
        justify-content: space-between;
        color: #fff;
        padding: 0px;
    }
}

footer {
    .info-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .columna {
            margin: 0px 20px;
            margin-top: -10px;
        }
    }
}

footer {
    .tit-footer {
        font-size: 25px;
        font-weight: bold;
    }
}

footer {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 13px;

        li {
            font-weight: 500;
            margin: 8px 0px;
        }

        .telf {
            color: #FF105f;
            font-size: 25px;
            font-weight: bolder;
            margin: 2px 0px;
            text-shadow: 0px 0px 10px #000;
        }
    }
}

footer {
    .rayita {
        width: 40px;
        background: #FF105f;
        padding: 2.5px;
        margin: -18px 0px 25px 0px;
        border-radius: 5px;
    }
}

footer {
    a {
        text-decoration: none;
        color: #fff;
        transition: all ease .5s;

    }

    .logo-footer {
        margin: 60px 10px 0px 10px;
    }
}

footer {
    a:hover {
        color: #FF105f;
    }
}













// RESPONSIVE

@media only screen and (max-width: 360px) {
    footer {
        .logo-footer img {
            width: 200px;
        }
        .logo-footer {
            margin: 10px 10px 0px 10px;
        }
    }
}

@media only screen and (max-width: 398px) {
    footer {
        .contenedor-footer{
            text-align: center;
        }
        .tit-footer {
            margin-bottom: 0px;
        }
        .rayita {
            margin: auto;
        }
       
    }

}