.QDvalley{
    font-size: 1em;
    .row{
        align-items: center;
    }
    p,h2{
        text-align: center;
    }
    .product__qdvalley{
        @include mq(md,max){
            
        }
        img{
            width: 100%;
        }
    }
    .info__qdvalley{
        h2{
            font-size: em(48px);
            margin-bottom: 0;
        }
        li:nth-child(even){
            margin-top: 1em;
            margin-bottom: 1em; 
        }
    }
}