$container: container;
$row: row;
$col: col;
$item: item;
$fractions : 3 6 !default;
$l-unit : .5rem !default;

// Para FlexBox
$gutter: $l-unit * 4 !default;

// Para Css Grid
$gap : $l-unit * 4 !default;
$max-grid-columns : 12 !default;

// Breakpoints
$breakpoints : (
    xs : 0,
    sm : 576px,
    md : 768px,
    lg : 992px,
    xl : 1200px
) !default;

$max-width-container: (
    xs : '',
    sm : 540px,
    md : 720px,
    lg : 960px,
    xl : 1140px
);
$sizes: map-keys($breakpoints);

// Fuente de Texto
$font-text: 'Dosis', sans-serif;

// margings-paddings
$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
);

// COLORES
$color-fuxia: #FF105f;
$color-plomo: #464646;
$color-lila: #DE28CC;
$path: '../../assets/img/';
